/* Root Styles */
* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: grey;
}

body {
  font-size: 16px;
}

a:visited {
  color: Dodgerblue;
}

/* Header Styles */
.colmar {
  font-weight: bold;
}

.academy {
  color: grey;
}

.header {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
}

.logo img {
  margin-left: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

nav span {
  padding: 0;
  margin-right: 0.75rem;
  color: grey;
}

nav img {
  display: none;
}

#last_nav {
  margin-right: 1.5rem;
}

/* Main Banner Styles */
.main_banner {
  background-color: grey;
  display: flex;
}

.banner_img {
  width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
}

.banner_img img {
  width: 100%;
  height: auto;
}

.banner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.banner_text h1 {
  color: black;
  margin-bottom: 1rem;
}

.banner_text h4 {
  color: black;
  margin-bottom: 1rem;
}

.banner_button {
  display: flex;
  justify-content: center;
  background-color: black;
}

.banner_button h4 {
  color: white;
  margin: 0.5rem 0;
}

.cellphone_buttons {
  display: none;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .main_banner {
    flex-direction: column;
    align-items: center;
  }

  .banner_img {
    width: 100%;
    padding:0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .banner_img img {
    width: 100%;
  }

  .banner_text {
    width: 100%;
  }
  .banner_text h1 {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .banner_text h4 {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .banner_button {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .header nav {
    display: none;
  }

  .cellphone_buttons {
    display: flex;
    margin-right: 1.5rem;
  }
}

/* News Segment */

.news {
  display: flex;
  padding: 2rem 0rem;
}

.main_article {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 1.5rem;
}

.main_article img {
  width: 100%;
  height: auto;
}

.main_article h1 {
  margin: 2rem 0;
}

.main_article #article_signature {
  margin-top: 2rem;
}


.secondary_articles {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 1rem;
}

.secondary_article {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secondary_img {
  width: 35%;
  overflow: hidden;
}

.secondary_img img {
  width: 100%
}

.secondary_text {
  margin-left: 2rem;
  width: 65%;
}

.secondary_text p {
  margin: 0.5rem 0;
}

div #orientation {
  padding-bottom: 0.5rem;
}

div #campus {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

div #guest_lecture {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#guest_lecture_background {
  background-color: lightgrey;
}

@media only screen and (max-width: 480px) {
  .main_article {
    display: none;
  }

  .secondary_articles {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .secondary_article {
    flex-direction: column;
  }

  .secondary_img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .secondary_img img {
    width: calc(100% - 1rem);
    height: auto;
    padding: 0;
    margin: 0;
  }



  .secondary_text {
    margin-bottom: 1rem;
    width: 100%
  }
}

/* Learning serction */

.courses {
  background-color: lightgrey;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.courses h1 {
  display: flex;
  padding: 2rem 0rem;
}

.courses h2 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.courses h4 {
  padding: 0.5rem 0;
  padding-left: 1rem;
}

.courses p {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
}

.image_row {
  display: flex;
  flex-direction: row;
  padding: 0 4.5rem;
}

.course {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  width: calc((100%-13rem)/3);
  margin-bottom: 2rem;
}

#middle_image {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.course img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px) {
  .courses {
    background-color: white;
  }

  .image_row {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .course {
    width: calc(100% - 1rem);
    background-color: lightgrey;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  #middle_image {
    margin-bottom: 0.5rem;
  }

  .course img {
    display: none;
  }

  .course h2 {
    padding: 1rem;
    margin: 0;
  }

  .course h4 {
    display: none;
  }

  .course p {
    display: none;
  }
}
/* Exhibit Section*/

.exhibit_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.exhibit_section h1{
  display: flex;
  padding: 2rem 0;
}

.video h2 {
  padding-bottom: 0.5rem;
}

.content {
  display: flex;
  flex-direction: row;
}

.video {
  width: 60%;
  padding: 0 1.5rem;
}

.video video {
  width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
}

.exhibit {
  display: flex;
  flex-direction: row;
}

.exhibit img {
  padding: 1rem;
  width: 100%;
  height: auto;
}

.other_exhibits {
  width: 40%;
}

.exhibit_img {
  width: 35%;
  overflow: hidden;
}

.exhibit_text {
  display: flex;
  width: 65%;
  justify-content: center;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.exhibit_text h2 {
  padding-bottom: 1rem;
}

#fisma {
  background-color: lightgrey;
}

@media only screen and (max-width: 480px) {
  .other_exhibits {
    display: none;
  }

  .video h2, p {
    display: none;
  }

  .video {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 100%;
  justify-content: space-between;
  color: grey;
  border-top: 1px solid lightgrey
}

.copyrights {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 480px) {
  .footer nav {
    display: none;
  }
}
